appdirs==1.4.3
attrs==19.3.0
beautifulsoup4==4.9.0
black==19.10b0
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
cssselect==1.1.0
distlib==0.3.0
feedfinder2==0.0.4
feedparser==5.2.1
filelock==3.0.12
idna==2.9
importlib-metadata==1.6.0
jieba3k==0.35.1
joblib==0.14.1
lxml==4.5.0
newspaper3k==0.2.8
nltk==3.5
pathspec==0.8.0
Pillow==7.1.2
python-dateutil==2.8.1
PyYAML==5.3.1
regex==2020.4.4
requests==2.23.0
requests-file==1.5.1
six==1.14.0
soupsieve==2.0
tinysegmenter==0.3
tldextract==2.2.2
toml==0.10.0
tqdm==4.45.0
typed-ast==1.4.1
urllib3==1.25.9
virtualenv==20.0.18
zipp==3.1.0
